/*=============================
	03. main wrapper  CSS Start
===============================*/
.main-wrapper {
  margin-top: 165px;
  padding-bottom: 90px;
  @media (max-width: 1199.98px) {
    margin-top: 80px;
  }
}
