/*=============================
	03. main wrapper  CSS Start
===============================*/
.main-wrapper {
  margin-top: 20px;
  padding-bottom: 40px;
  @media (max-width: 1199.98px) {
    margin-top: 0;
  }
  // background-color: var(--bs-background-color);
}
